@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 137 72% 15%;

    --card: 0 0% 100%;
    --card-foreground: 137 72% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 137 72% 15%;

    --primary: 137 72% 32%;
    --primary-foreground: 137 10% 98%;

    --secondary: 137 59% 95%;
    --secondary-foreground: 137 54% 28%;

    --muted: 137 59% 95%;
    --muted-foreground: 137 32% 45%;

    --accent: 137 59% 95%;
    --accent-foreground: 137 54% 28%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 137 10% 98%;

    --border: 137 20% 92%;
    --input: 137 20% 92%;
    --ring: 137 72% 32%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 137 72% 5%;
    --foreground: 137 10% 98%;

    --card: 137 72% 5%;
    --card-foreground: 137 10% 98%;

    --popover: 137 72% 5%;
    --popover-foreground: 137 10% 98%;

    --primary: 137 72% 32%;
    --primary-foreground: 137 10% 98%;

    --secondary: 137 54% 12%;
    --secondary-foreground: 137 10% 98%;

    --muted: 137 54% 12%;
    --muted-foreground: 137 32% 65%;

    --accent: 137 54% 12%;
    --accent-foreground: 137 10% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 137 10% 98%;

    --border: 137 54% 12%;
    --input: 137 54% 12%;
    --ring: 137 72% 32%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}